@import '../../scss/0-helpers/variables';

// CART
.site-overflow{
    z-index: 1;
    cursor: pointer;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: $white;
    opacity: 70%;
    left: 0;
}
.cart{
    display: block;
    position: fixed;
    height: 100vh;
    width: 760px;
    background-color: $black;
    color: $white;
    font-size: 24px;
    font-weight: normal;
    padding: 2rem 4.6rem;
    letter-spacing: 0.01em;
    z-index: 3;
    overflow-y: auto;

    .cart-header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .product-in-cart{
        display: flex;
        flex-direction: column;
        width: 281px;
        margin-bottom: 2rem;

    }
    .product-in-cart__prod-img{
        width: 281px;
        height: 281px;
        display: block;
        background-color: $white;
        box-sizing: initial;
        margin-bottom: 1rem;
        object-fit: contain;
        object-position: top;
    }
}

.close{
    cursor: pointer;
}
.cart-title{
    display: inline-block;
    border-bottom: 1px solid #FCFBF6;
    padding-bottom: 10px;
    margin-bottom: 50px;
}

.cart-prod-list{
    height: 70%;
    overflow-y: scroll;
}

.product-in-cart > span {
    box-sizing: initial;
    margin-bottom: 1rem
}
.product-in-cart__amount{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.product-in-cart__amount-button{
    display: inline-block;
    background-color: #000;
    color: #FCFBF6;
    font-size: 1.5rem;
    height: 35px;
    width: 35px;
    text-align: center;

    cursor: pointer;
    border: none;
}
.product-in-cart__amount-text{
    margin: 1rem;
}

.order-summary{
    display: block;
    width: 220px;
    height: 80px;
    background-color: #FCFBF6;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    margin: 2rem auto;
    cursor: pointer;
}
@media screen and (max-width: 800px){
    .site-overflow{
        display: none;
    }
    .cart{
        width: 100vw;
    }
}