@import './variables';

@mixin flex($dir, $justify:0, $align:0) {
    display: flex;
    flex-direction: $dir;
    justify-content: $justify;
    align-items: $align;
}

@mixin poppins($size, $color: 0, $line: 0, $align: 0){
    font-family: "Poppins", sans-serif;
    font-size: $size;
    color: $color;
    line-height: $line;
    text-align: $align;
}

@mixin img-props($fit, $width, $height){
    object-fit: $fit;
    width: $width;
    height: $height;
}

@mixin separation($margin, $padding){
    margin: $margin;
    padding: $padding;
}

@mixin blend-stroke{
    color: $white;
    -webkit-text-fill-color: $black;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color:$white;
}