// COLORS
$white: #ffffff;
$white-ish: #FCFBF6;
$light-gray: #ACB0B9;
$black: #000000;
$black-ish: #0E0E0F;
$error: #FF3F56;

// BREAKPOINTS

$mobile: 600px;
$midBreak: 800px;
$desktop: 1200px;

// TEXT SIZES
$txt-18: 18px;
$txt-24: 24px;