@import '../../../scss/0-helpers/variables';
@import '../../../scss/0-helpers/mixins';

.order{
    @include flex-col-center;
    
    margin: 90px auto;
    height: 100%;
    width: 100%;
    padding: 15px;

    display: flex;
    flex-direction: column;
}

.cart-summary__product-list{
    width: calc(100vw - 30px);
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 14px;

    list-style: none;
    background-color: $black;
    @include poppins-18($white);
    
    .cart-summary__product-list-item{
        width: 100%;
        display: grid;
        grid-template-areas:
        "img details"
        "amount amount";
        grid-template-columns: 75px 1fr;
        grid-template-rows: 75px 70px;

        .product-list-item__prod-img{
            width: 75px;
            height: 75px;
            background-color: $white;
            grid-area: img;
            object-fit: cover;
        }
        .product-list-item__details{
            display: flex;
            flex-direction: column;
            padding: 18px;
        }
        .product-list-item__amount{
            width: 100%;
            grid-area: amount;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin: 10px 0;

            .product-list-item__amount-button{
                background-color: $black;
                border: none
            }
        }
    }
}

.cart-summary__zip-code{
    width: 100%;
    height: 1005;
    display: grid;
    grid-template-areas: 
        "label label label"
        "zip1 dash zip2";
    grid-template-columns: 116px 54px 160px;
    grid-template-rows: 27px 60px;
    row-gap: 10px;
    margin-bottom: 30px;
    grid-area: zip-code;

    .form-label{
        grid-area: label;
    }

    #zip-code-1{ 
        grid-area: zip1;
    }
    .zip-dash{
        grid-area: dash;
        height: 1px;
        width: 34px;
        margin: 0 auto;
        align-self: center;
        background-color: $black;
    }
    #zip-code-2{
        grid-area: zip2;
    }
}

.cart-summary__delivery{
    width: 100%;
    @include flex-col-center;
    align-items: flex-start;
    margin-bottom: 150px;

    .cart-summary__delivery-checkbox{
        margin: 10px 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

@media screen and (min-width: 900px){
    .order{
        padding: 0 100px;
        align-items: flex-start;
        .cart-summary{
            width: 100%;

            .cart-summary__product-list{
                width: 100%;
                padding: 45px;

                .cart-summary__product-list-item{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    height: 88px;
                    margin-bottom: 45px;

                    &:last-child{
                        margin-bottom: 0px;
                    }

                    .product-list-item__prod-img{
                        width: 88px;
                        height: 88px;
                    }

                    .product-list-item__details{
                        flex-direction: row;
                        align-items: center;
                        font-size: 24px;
                        width: 100%;

                        span:first-child{
                            margin-right: 5px;
                        }
                    }

                    .product-list-item__amount{
                        width: 240px;
                        font-size: 24px;
                    }
                }
            }
        }
    }
    .form-title{
        text-align: center;
        margin: 80px 0;
    }
    
    .cart-summary__form{
        width: 720px;
    }
    
    .cart-summary__form-fields{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-areas:
            "inputShort none"
            "inputShort zip-code"
            "inputLong inputLong";
        grid-template-columns: 65% 1fr;
        column-gap: 30px;

        .input-short{
            @include flex-col-center;
            grid-area: inputShort
        }
        .input-long{
            @include flex-col-center;
            grid-area: inputLong
        }
    }
}