@import '../../../scss/helpers/mixins';

.pay{
    @include flex(column, center, center);
    padding: 15px;
}
.pay-imgs-desktop{
    display: none
}
.pay-imgs-mobile{
    @include flex(column, null, null);

    img{
        display: block;
        width: 100%;
    }
}

@media screen and (min-width: 1200px){
    .pay{
        margin: 0 100px;
    }
    .pay-imgs-mobile{
        display: none;
    }
    .pay-imgs-desktop{
        display: block;
        max-width: 1500px;
        img{
            display: block;
            @include img-props(contain, 100%, 100%);
        }
    }
}