@import '../../../scss/0-helpers/mixins';

.pay{
    @include flex-col-center;
    padding: 15px;
}
.pay-imgs-desktop{
    display: none
}
.pay-imgs-mobile{
    display: flex;
    flex-direction: column;

    img{
        display: block;
        width: 100%;
    }
}

@media screen and (min-width: 1200px){
    .pay{
        margin: 0 100px;
    }
    .pay-imgs-mobile{
        display: none;
    }
    .pay-imgs-desktop{
        display: block;
        max-width: 1500px;
        img{
            display: block;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}