@import '../0-helpers/variables';
@import '../0-helpers/mixins';

.form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.form-title{
    margin-bottom: 30px;
    height: 80px;
    width: 100%;
    font-size: 36px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
}

.form-label{
    font-size: 24px;
    width: 100%;
    text-align: left;
    margin-bottom: 5px; 
}

.form-input{
    width: 100%;
    height: 60px;
    border: 1px solid $black;
    border-radius: 0px;
    margin-bottom: 30px;
    padding: 10px;
    @include poppins-24($black);
}
.form-checkbox{
    appearance: none;
    
    box-sizing: border-box;
    display: block;

    font-size: 0;
    width: 62px;
    height: 62px;
    margin-right: 50px;
    border: 1px solid $black;
    border-radius: 0px;

    // background-image: url("/Assets/Imgs/icons/checked-border.svg");
    background-repeat: no-repeat;
    background-position: center;

    &:checked{
        background-image: url("/Assets/Imgs/icons/checked-icon.svg");
    }
}

.form-textarea{
    resize: none;
    height: 300px;
}

.form-button{
    @include flex-col-center;
    justify-content: center;
    height: 100px;
    width: 400px;
    background-color: $black;
    border: none;
    @include poppins-24($white);
    align-self: center;
    margin: 80px 0;
    cursor: pointer;

    a{
        @include flex-col-center;
        justify-content: center;
        color: $white;
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 800px){
    .form{
        @include flex-col-center;
    }
    .form-title{
        @include poppins-24($black);
        align-self: center;
        text-align: center;
        height: 40px;
        margin: 50px 0;
    }

    .form-label{
        font-size: 18px;
    }
    .form-input{
        font-size: 18px;
    }

    .form-button{
        width: 190px;
        height: 60px;
        padding: 20px;
        font-size: 18px;
        font-weight: 600;
        align-self: center;
    }
}