@import '../../scss/helpers/mixins';
@import '../../scss/helpers/variables';

.message{
    position: fixed;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background-color: $white;

    @include flex(column, center, center);
    p{
        @include poppins(36px, $black, null, center);

        font-style: normal;
        font-weight: 500;
        width: 400px;
        height: auto;
    }
}