@import '../../../scss/helpers/variables.scss';
@import '../../../scss/helpers/mixins.scss';

.contact{
    min-height: 100vh;
    margin: 150px auto;
    width: 790px;

    @include flex(column, null, center);

    .contact-title{
        align-self: flex-start;
    }
    .contact-form{
        @include flex(column, null, center);
        width: 100%;
    }
}

@media screen and (max-width: 800px){
    .contact{
        height: 100%;
        width: 100%;
        @include separation(60px 0 45px, 15px);
    }
}