@import '../../../scss/0-helpers/variables';

// SHOP
.shop{
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;

    .product-section{
        width: 100%;
        min-height: 800px;
        max-height: 1080px;
        display: grid;
        grid-template-areas: 
            "presentation img"
            "presentation product";
        grid-template-columns: 60% 40%;
        grid-template-rows: 65% 35%;
    
        &:nth-child(even){
            grid-template-areas: 
            "img presentation "
            "product presentation ";
            grid-template-columns: 40% 60%;
            grid-template-rows: 65% 35%;

        }

        &:first-child{
            margin-top: 120px;
        }

        .product-presentation{
            grid-area: presentation;
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
        
        .product-img{
            grid-area: img;
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .product{
            grid-area: product;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: auto;
            
            * {
                margin: 10px auto
            }

            .product-price{
                order: 3;
                font-weight: 600;
            }
            .product-description{
                order: 2;
            }

            .product-price , .product-description{
                display: block;
                font-size: 18px;
                width: 100%;
                text-align: center;
            }

            .product-add-to-cart{
                order: 4;
                width: 180px;
                height: 63px;
                margin-bottom: 80px;
                background-color: $black;
                color: $white;
                font-family: 'Poppins', sans-serif;
                font-size: 16px;
                cursor: pointer;
            }   
        }   
    }
}
@media screen and (max-width: 1200px){
    .product-section{
        display: grid;
        grid-template-areas: 
        "img presentation"
        "product product" !important;
        grid-template-rows: 60% 40% !important;
        grid-template-columns: 40% 60% !important;
        column-gap: 5px;

        &:first-child{
            margin-top: 60px;
        }
        &:nth-child(even){
            grid-template-areas: 
            "presentation img"
            "product product" !important;
            grid-template-columns: 60% 40% !important;
            grid-template-rows: 60% 40% !important;
        }
    }
    
    .product-presentation{
        object-fit: cover;
    }
    
    .product-img{
        background: #F1F4F5;
        display: block;
        object-fit: scale-down;
        margin-top: 0;
    }
    .product{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        justify-content: center;
        
        * {
            margin: 1rem auto
        }

        .product-price{
            order: 2;
        }
        .product-description{
            order: 3;
        }

        .product-price , .product-description{
            display: block;
            font-size: 1.8rem;
            width: 100%;
            text-align: center;
        }

        .product-add-to-cart{
            order: 4;
            width: 220px;
            height: 80px;
            background-color: $black;
            color: $white;
            font-family: 'Poppins', sans-serif;
            font-size: 16px;
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 600px){
    .product-section{
        height: 90vh;
    }
}