@import '../../../scss/helpers/variables';
@import '../../../scss//helpers/mixins';
// ABOUT US

.about-us__panel{
    height: 100%;
    width: 100%;
    z-index: 0;

    @include flex(column, null, null)
}

.about-us__img{
    @include img-props(contain, 100%, auto);
    display: none;
}

.about-us-panel__story{
    @include flex(column, null, null);
    @include separation(0 0 0 40px, 45px);
}
.about-us-panel__title{
    max-width: 500px;
    height: auto;
    display: block;
    position: none;
    
    font-family: Krona One;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
}
    
.about-us-panel__description{
    display: block;
    @include poppins(18px, null, null, null);
}

@media screen and (max-width: 800px){
    .about-us__img--mobile{
        display: block;
    }
    .about-us-panel__story{
        margin: 0px;
    }
    .about-us-panel__title{
        font-size: 32px;
        width: 100%;
    }
    .about-us{
        .story-break{
            display: none
        }
    }
}
@media screen and (min-width: 800px){
    .about-us__img--desktop{
        display: block;
    }
}
@media screen and (min-width: 800px) and (max-width: $desktop){
    .about-us-panel__story{
        max-width: 600px;
        height: 100%;
        margin-bottom: 150px;
    }
}

@media screen and (min-width: $desktop){
    .about-us__panel{
        position: relative;
    }
    .about-us__panel:nth-child(1){
        .about-us-panel__story{
            min-width: 500px;
            margin-left: 100px;
        }
    }
    .about-us__panel:nth-child(3){
        .about-us-panel__story{
            margin-left: 19vw;
            margin-bottom: 0px;
        }
    }
    .about-us__panel:nth-child(5){
        .about-us-panel__story{
            margin-bottom: 0px;
            margin-left: 100px;
        }
    }

    .about-us-panel__story{
        position: absolute;
        max-width: 600px;
        bottom: 0px;
        margin-bottom: 20px;
    }

    .about-us__img{
        @include img-props(cover, 100vw, auto);
    }
}