@import '../../../scss/helpers/variables';

.story-break{
    display: block;
    width: 100%;
    height: 540px;
    background-color: $black;
    background-repeat: no-repeat;
    background-attachment: fixed;
}