// HELPERS
@import './scss/0-helpers/variables';
@import './scss/0-helpers/mixins';

// TOOLS
@import './scss/1-tools/animations';

// BASICS
@import './scss/2-basics/reset';
@import './scss/2-basics/base';
@import './scss/2-basics/typography';
@import './scss/2-basics/form';

// COMPONENTS
@import './Components/SideText/SideText.scss';
@import './Components/Navigation/Navigation.scss';
@import './Components/Cart/Cart.scss';

@import './Components/Content/Manifest/PresentationPanel/PresentationPanel.scss';
@import './Components/Content/BreakPanel/BreakPanel.scss';
@import './Components/Content/AboutUs/AboutUs.scss';
@import './Components/Content/Shop/Shop.scss';
@import './Components/Content/Contact/Contact.scss';
@import './Components/Content/OrderSummary/OrderSummary.scss';
@import './Components/Content/OrderSummary/Pay.scss';
@import './Components/ThankYou/ThankYou.scss';
@import './Components/Footer/Footer.scss';

// CONTENT
.manifest, .about-us{
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


@media screen and (max-width: 1200px){
    .product-section {
        flex-direction: column !important;
        max-height: 100% !important;
        
        .product{
            width: 100% !important;
        }
        .product-presentation{
            width: 100% !important;
        }
    }
}