@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: #000000;
  text-decoration: none;
}

body {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  z-index: 0;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
}

.root {
  background-color: #ffffff;
}

.error-msg {
  font-size: 18px;
  color: #FF3F56;
  height: auto;
  width: 300px;
  display: block;
  text-align: center;
  position: relative;
}

.form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.form-title {
  margin-bottom: 30px;
  height: 80px;
  width: 100%;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
}

.form-label {
  font-size: 24px;
  width: 100%;
  text-align: left;
  margin-bottom: 5px;
}

.form-input {
  width: 100%;
  height: 60px;
  border: 1px solid #000000;
  border-radius: 0px;
  margin-bottom: 30px;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  color: #000000;
  text-align: 0;
}

.form-checkbox {
  appearance: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  display: block;
  font-size: 0;
  width: 62px;
  height: 62px;
  margin-right: 50px;
  border: 1px solid #000000;
  border-radius: 0px;
  background-repeat: no-repeat;
  background-position: center;
}
.form-checkbox:checked {
  background-image: url("/Assets/Imgs/icons/checked-icon.svg");
}

.form-textarea {
  resize: none;
  height: 300px;
}

.form-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 400px;
  background-color: #000000;
  border: none;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  color: #ffffff;
  line-height: 0;
  text-align: 0;
  align-self: center;
  margin: 80px 0;
  cursor: pointer;
}
.form-button a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 800px) {
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-title {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    color: #000000;
    text-align: center;
    align-self: center;
    height: 40px;
    margin: 50px 0;
  }

  .form-label {
    font-size: 18px;
  }

  .form-input {
    font-size: 18px;
  }

  .form-button {
    width: 190px;
    height: 60px;
    padding: 20px;
    font-size: 18px;
    font-weight: 600;
    align-self: center;
  }
}
.side-text {
  color: #ffffff;
  -webkit-text-fill-color: #000000;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #ffffff;
  display: none;
  position: fixed;
  text-transform: uppercase;
  transform: rotate(-90deg);
  width: 1920px;
  height: 40px;
  font-size: 34px;
  font-family: "Krona One";
  font-style: normal;
  font-weight: normal;
  z-index: 1;
}

.side-text-left {
  left: -920px;
}

.side-text-right {
  right: 48px;
  top: 1800px;
  transform-origin: right;
  transform: rotate(90deg);
}

@media screen and (min-width: 1200px) {
  .side-text {
    display: block;
  }
}
.nav {
  width: 100%;
  height: 100%;
}

.nav-logo {
  height: 40px;
  margin: 40px 100px;
  display: block;
  position: fixed;
  z-index: 1;
  cursor: pointer;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 40px;
  margin: 40px 0 0;
  list-style: none;
  color: #ffffff;
  position: fixed;
  mix-blend-mode: difference;
  z-index: 1;
}
.nav-list .nav-list-item {
  display: inline-block;
  z-index: 2;
  height: 40px;
  width: auto;
  line-height: 40px;
  text-align: center;
  margin: 0 2.5rem;
  mix-blend-mode: difference;
  font-size: 1.2rem;
  cursor: pointer;
}
.nav-list .nav-list-item:last-child {
  margin-right: 100px;
  width: 40px;
}
.nav-list .nav-list-item .nav-basket-logo {
  height: 40px;
  width: 40px;
  stroke: #000000;
}
.nav-list .nav-list-item a {
  background-color: transparent;
  color: #ffffff;
  display: inline-block;
  mix-blend-mode: difference;
}

.nav-hamburger {
  display: none;
  position: fixed;
  right: 0;
  cursor: pointer;
}

.basket-icon-mobile {
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 15px;
  mix-blend-mode: difference;
  z-index: 5;
  cursor: pointer;
}

svg {
  mix-blend-mode: difference;
}

path {
  mix-blend-mode: difference;
}

rect {
  mix-blend-mode: difference;
}

@media screen and (max-width: 800px) {
  .nav-logo {
    margin: 15px;
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    display: none;
    height: 367px;
    background-color: #ffffff;
    mix-blend-mode: normal;
    padding: 0px;
    margin-top: 0;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.04em;
  }
  .nav-list .nav-list-item {
    margin-top: 40px;
  }
  .nav-list .nav-list-item:first-child {
    margin-top: 85px;
  }
  .nav-list .nav-list-item:last-child {
    display: none;
  }

  .nav-hamburger {
    display: block;
    position: fixed;
    margin: 15px;
    z-index: 3;
  }

  .nav-list--show {
    display: flex;
    opacity: 0.9;
  }

  .basket-icon-mobile {
    display: block;
  }
}
.basket-icon {
  fill: white;
  width: 40px;
  height: 40px;
}

.basket-icon__icon {
  position: relative;
  width: 40px;
  height: 40px;
  mix-blend-mode: difference;
}
.basket-icon__icon path {
  mix-blend-mode: difference;
}

.basket-icon__amount {
  position: absolute;
  text-align: center;
  width: 40px;
  mix-blend-mode: difference;
  color: #ffffff;
  font-size: 24px;
}

.basket-icon-mobile {
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 15px;
  mix-blend-mode: difference;
  z-index: 5;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .basket-icon-mobile {
    display: block;
  }
}
.site-overflow {
  z-index: 1;
  cursor: pointer;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  opacity: 70%;
  left: 0;
}

.cart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  height: 100vh;
  width: 760px;
  background-color: #000000;
  color: #ffffff;
  font-size: 24px;
  font-weight: normal;
  padding: 2rem 4.6rem;
  letter-spacing: 0.01em;
  z-index: 3;
  overflow-y: auto;
}
.cart .cart-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 50px;
}
.cart .product-in-cart {
  display: flex;
  flex-direction: column;
  width: 281px;
  margin-bottom: 2rem;
}
.cart .product-in-cart__prod-img {
  object-fit: contain;
  width: 281px;
  height: 281px;
  object-position: top;
  display: block;
  background-color: #ffffff;
  box-sizing: initial;
  margin-bottom: 1rem;
}

.close {
  cursor: pointer;
}

.cart-title {
  display: block;
  border-bottom: 1px solid #FCFBF6;
  padding-bottom: 10px;
}

.cart-prod-list {
  overflow-y: scroll;
}

.product-in-cart > span {
  box-sizing: initial;
  margin-bottom: 1rem;
}

.product-in-cart__amount {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.product-in-cart__amount-button {
  display: inline-block;
  background-color: #000000;
  color: #FCFBF6;
  font-size: 1.5rem;
  height: 35px;
  width: 35px;
  text-align: center;
  cursor: pointer;
  border: none;
}

.product-in-cart__amount-text {
  margin: 1rem;
}

.order-summary {
  display: block;
  width: 220px;
  height: 80px;
  background-color: #FCFBF6;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  color: #000000;
  margin: 20px auto 0;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .site-overflow {
    display: none;
  }

  .cart {
    width: 100vw;
  }
}
@media screen and (min-width: 600px) and (max-width: 1200px) {
  .story-panel {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    position: relative;
  }
  .story-panel .story-panel__img {
    object-fit: cover;
    width: 100vw;
    height: 1080px;
    z-index: 0;
    position: relative;
  }
  .story-panel .story-panel_wrapper {
    position: absolute;
    width: 300px;
    height: 100%;
    align-self: center;
  }
  .story-panel .story-panel__title {
    width: 100%;
    margin: 400px 0 300px 0;
    top: 400px;
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    font-family: Krona One;
    font-style: normal;
    font-weight: normal;
    mix-blend-mode: difference;
    font-style: normal;
    font-weight: normal;
  }
  .story-panel .story-panel__title .story-panel__stats-nmbr {
    height: 192px;
    font-size: 192px;
    color: #ffffff;
    -webkit-text-fill-color: #000000;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #ffffff;
  }
  .story-panel .story-panel__title .story-panel__stats-prcnt {
    height: 96px;
    font-size: 96px;
    color: #ffffff;
    -webkit-text-fill-color: #000000;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #ffffff;
  }
  .story-panel .story-panel__title .story-panel__stats-star {
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    color: #ffffff;
    line-height: 57px;
  }
  .story-panel .story-panel__stats-desc {
    display: block;
    width: 300px;
    height: 106px;
    margin-bottom: 180px;
    top: 1200px;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    color: #ffffff;
    line-height: 27px;
    text-align: center;
    font-weight: normal;
    position: sticky;
    align-self: center;
    mix-blend-mode: difference;
  }
}
@media screen and (max-width: 600px) {
  .story-panel {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    position: relative;
  }
  .story-panel .story-panel__img {
    object-fit: cover;
    width: 100vw;
    height: 700px;
    z-index: 0;
    position: relative;
  }
  .story-panel .story-panel_wrapper {
    position: absolute;
    width: 300px;
    height: 100%;
    align-self: center;
  }
  .story-panel .story-panel__title {
    width: 100%;
    margin: 200px 0 350px 0;
    top: 200px;
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-family: Krona One;
    font-style: normal;
    font-weight: normal;
    mix-blend-mode: difference;
  }
  .story-panel .story-panel__title .story-panel__stats-nmbr {
    height: 96px;
    font-size: 96px;
    color: #ffffff;
    -webkit-text-fill-color: #000000;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #ffffff;
  }
  .story-panel .story-panel__title .story-panel__stats-prcnt {
    height: 48px;
    font-size: 48px;
    color: #ffffff;
    -webkit-text-fill-color: #000000;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #ffffff;
  }
  .story-panel .story-panel__title .story-panel__stats-star {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    color: #ffffff;
    line-height: 57px;
    font-style: normal;
    font-weight: normal;
  }
  .story-panel .story-panel__stats-desc {
    display: block;
    width: 214px;
    height: 106px;
    margin: 0 auto 200px;
    top: 950px;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    color: #ffffff;
    line-height: 27px;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    position: sticky;
    align-self: center;
    mix-blend-mode: difference;
  }
}
@media screen and (min-width: 1200px) {
  .story-panel {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: "info img" "break break";
    grid-template-columns: 50% 50%;
    grid-template-rows: 1080px 540px;
  }
  .story-panel:nth-child(even) {
    grid-template-areas: "img info" "break break";
  }
  .story-panel:nth-child(even) .story-panel_wrapper {
    margin-right: auto;
  }
  .story-panel .story-panel_wrapper {
    grid-area: info;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }
  .story-panel .story-panel_wrapper .story-panel__title {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    font-family: Krona One;
    font-style: normal;
    font-weight: normal;
    mix-blend-mode: difference;
  }
  .story-panel .story-panel_wrapper .story-panel__title .story-panel__stats-nmbr {
    height: 288px;
    font-size: 288px;
    color: #ffffff;
    -webkit-text-fill-color: #000000;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #ffffff;
  }
  .story-panel .story-panel_wrapper .story-panel__title .story-panel__stats-prcnt {
    height: 144px;
    font-size: 144px;
    color: #ffffff;
    -webkit-text-fill-color: #000000;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #ffffff;
  }
  .story-panel .story-panel_wrapper .story-panel__title .story-panel__stats-star {
    font-family: "Poppins", sans-serif;
    font-size: 44px;
    color: #ffffff;
    line-height: 190px;
    font-style: normal;
    font-weight: normal;
  }
  .story-panel .story-panel_wrapper .story-panel__stats-desc {
    width: 214px;
    margin-top: 60px;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    color: #ffffff;
    line-height: 27px;
    font-style: normal;
    font-weight: 500;
    align-self: right;
    mix-blend-mode: difference;
  }
  .story-panel .story-panel__img {
    grid-area: img;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .story-panel .story-break {
    grid-area: break;
    display: block;
  }

  .story-panel:last-child {
    grid-template-rows: 1080px 0vh;
  }
  .story-panel:last-child .story-break {
    display: none;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .story-panel__stats-nmbr {
    height: 200px !important;
    font-size: 200px !important;
  }

  .story-panel__stats-prcnt {
    height: 100px !important;
    font-size: 100px !important;
  }

  .story-panel__stats-star {
    font-size: 38px !important;
    line-height: 130px !important;
  }
}
@media screen and (max-width: 1200px) and (orientation: landscape) {
  .story-panel .story-panel__title {
    margin-top: 200px;
    top: 200px;
  }
}
.story-break {
  display: block;
  width: 100%;
  height: 540px;
  background-color: #000000;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.about-us__panel {
  height: 100%;
  width: 100%;
  z-index: 0;
  display: flex;
  flex-direction: column;
}

.about-us__img {
  object-fit: contain;
  width: 100%;
  height: auto;
  display: none;
}

.about-us-panel__story {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 40px;
  padding: 45px;
}

.about-us-panel__title {
  max-width: 500px;
  height: auto;
  display: block;
  position: none;
  font-family: Krona One;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
}

.about-us-panel__description {
  display: block;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

@media screen and (max-width: 800px) {
  .about-us__img--mobile {
    display: block;
  }

  .about-us-panel__story {
    margin: 0px;
  }

  .about-us-panel__title {
    font-size: 32px;
    width: 100%;
  }

  .about-us .story-break {
    display: none;
  }
}
@media screen and (min-width: 800px) {
  .about-us__img--desktop {
    display: block;
  }
}
@media screen and (min-width: 800px) and (max-width: 1200px) {
  .about-us-panel__story {
    max-width: 600px;
    height: 100%;
    margin-bottom: 150px;
  }
}
@media screen and (min-width: 1200px) {
  .about-us__panel {
    position: relative;
  }

  .about-us__panel:nth-child(1) .about-us-panel__story {
    min-width: 500px;
    margin-left: 100px;
  }

  .about-us__panel:nth-child(3) .about-us-panel__story {
    margin-left: 19vw;
    margin-bottom: 0px;
  }

  .about-us__panel:nth-child(5) .about-us-panel__story {
    margin-bottom: 0px;
    margin-left: 100px;
  }

  .about-us-panel__story {
    position: absolute;
    max-width: 600px;
    bottom: 0px;
    margin-bottom: 20px;
  }

  .about-us__img {
    object-fit: cover;
    width: 100vw;
    height: auto;
  }
}
.shop {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.shop .product-section {
  width: 100%;
  min-height: 800px;
  max-height: 1080px;
  display: grid;
  grid-template-areas: "presentation img" "presentation product";
  grid-template-columns: 60% 40%;
  grid-template-rows: 65% 35%;
}
.shop .product-section:nth-child(even) {
  grid-template-areas: "img presentation " "product presentation ";
  grid-template-columns: 40% 60%;
  grid-template-rows: 65% 35%;
}
.shop .product-section:first-child {
  margin-top: 120px;
}
.shop .product-section .product-presentation {
  grid-area: presentation;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.shop .product-section .product-img {
  grid-area: img;
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.shop .product-section .product {
  grid-area: product;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}
.shop .product-section .product * {
  margin: 10px auto;
}
.shop .product-section .product .product-price {
  order: 3;
  font-weight: 600;
}
.shop .product-section .product .product-description {
  order: 2;
}
.shop .product-section .product .product-price, .shop .product-section .product .product-description {
  display: block;
  font-size: 18px;
  width: 100%;
  text-align: center;
}
.shop .product-section .product .product-add-to-cart {
  order: 4;
  width: 180px;
  height: 63px;
  margin-bottom: 80px;
  background-color: #000000;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .product-section {
    display: grid;
    grid-template-areas: "img presentation" "product product" !important;
    grid-template-rows: 60% 40% !important;
    grid-template-columns: 40% 60% !important;
    column-gap: 5px;
  }
  .product-section:first-child {
    margin-top: 60px;
  }
  .product-section:nth-child(even) {
    grid-template-areas: "presentation img" "product product" !important;
    grid-template-columns: 60% 40% !important;
    grid-template-rows: 60% 40% !important;
  }

  .product-presentation {
    object-fit: cover;
  }

  .product-img {
    background: #F1F4F5;
    display: block;
    object-fit: scale-down;
    margin-top: 0;
  }

  .product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .product * {
    margin: 1rem auto;
  }
  .product .product-price {
    order: 2;
  }
  .product .product-description {
    order: 3;
  }
  .product .product-price, .product .product-description {
    display: block;
    font-size: 1.8rem;
    width: 100%;
    text-align: center;
  }
  .product .product-add-to-cart {
    order: 4;
    width: 220px;
    height: 80px;
    background-color: #000000;
    font-family: "Poppins", sans-serif;
    font-size: 26px;
    color: #ffffff;
    cursor: pointer;
  }
}
@media screen and (max-width: 600px) {
  .shop .product-section {
    min-height: 600px;
    grid-template-rows: 50% 50% !important;
    grid-template-columns: 50% 50% !important;
  }
  .shop .product * {
    margin: 30px 0;
  }
}
@media screen and (max-width: 420px) {
  .shop .product-section {
    grid-template-areas: "img img" "product product" !important;
  }
}
.contact {
  min-height: 100vh;
  margin: 150px auto;
  width: 790px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact .contact-title {
  align-self: flex-start;
}
.contact .contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .contact {
    height: 100%;
    width: 100%;
    margin: 60px 0 45px;
    padding: 15px;
  }
}
.order {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: 0;
  margin: 90px auto;
  padding: 15px;
  height: 100%;
  width: 100%;
}

.cart-summary__product-list {
  width: calc(100vw - 30px);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: 0;
  align-items: 0;
  padding: 14px;
  list-style: none;
  background-color: #000000;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #ffffff;
}
.cart-summary__product-list .cart-summary__product-list-item {
  width: 100%;
  display: grid;
  grid-template-areas: "img details" "amount amount";
  grid-template-columns: 75px 1fr;
  grid-template-rows: 75px 70px;
}
.cart-summary__product-list .cart-summary__product-list-item .product-list-item__prod-img {
  width: 75px;
  height: 75px;
  background-color: #ffffff;
  grid-area: img;
  object-fit: cover;
}
.cart-summary__product-list .cart-summary__product-list-item .product-list-item__details {
  display: flex;
  flex-direction: column;
  justify-content: 0;
  align-items: 0;
  padding: 18px;
}
.cart-summary__product-list .cart-summary__product-list-item .product-list-item__amount {
  width: 100%;
  grid-area: amount;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0;
}
.cart-summary__product-list .cart-summary__product-list-item .product-list-item__amount .product-list-item__amount-button {
  background-color: #000000;
  border: none;
}

.cart-summary__total-cost {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
  border-top: 2px solid #000000;
  margin-top: 45px;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  color: #000000;
}

.cart-summary__zip-code {
  width: 100%;
  height: 1005;
  display: grid;
  grid-template-areas: "error error error" "label label label" "zip1 dash zip2";
  grid-template-columns: 116px 54px 160px;
  grid-template-rows: 27px 27px 60px;
  row-gap: 10px;
  margin-bottom: 30px;
  grid-area: zip-code;
}
.cart-summary__zip-code .form-label {
  grid-area: label;
}
.cart-summary__zip-code #zip-code-1 {
  grid-area: zip1;
}
.cart-summary__zip-code .zip-dash {
  grid-area: dash;
  height: 1px;
  width: 34px;
  margin: 0 auto;
  align-self: center;
  background-color: #000000;
}
.cart-summary__zip-code #zip-code-2 {
  grid-area: zip2;
}

.cart-summary__delivery {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: 0;
  margin-bottom: 150px;
}
.cart-summary__delivery .cart-summary__delivery-checkbox {
  margin: 10px 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media screen and (max-width: 950px) {
  .cart-summary__form--second {
    height: 370px;
  }

  .order-summary__button {
    margin: 0 !important;
  }
}
@media screen and (min-width: 950px) {
  .order {
    padding: 0 100px;
    align-items: flex-start;
  }
  .order .cart-summary {
    width: 100%;
  }
  .order .cart-summary .cart-summary__product-list {
    width: 100%;
    padding: 45px;
  }
  .order .cart-summary .cart-summary__product-list .cart-summary__product-list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: 0;
    height: 88px;
    margin-bottom: 45px;
  }
  .order .cart-summary .cart-summary__product-list .cart-summary__product-list-item:last-child {
    margin-bottom: 0px;
  }
  .order .cart-summary .cart-summary__product-list .cart-summary__product-list-item .product-list-item__prod-img {
    width: 88px;
    height: 88px;
  }
  .order .cart-summary .cart-summary__product-list .cart-summary__product-list-item .product-list-item__details {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: 0;
    font-size: 24px;
    width: 100%;
  }
  .order .cart-summary .cart-summary__product-list .cart-summary__product-list-item .product-list-item__details span:first-child {
    margin-right: 5px;
  }
  .order .cart-summary .cart-summary__product-list .cart-summary__product-list-item .product-list-item__amount {
    width: 240px;
    font-size: 24px;
  }

  .cart-summary__total-cost {
    font-family: "Poppins", sans-serif;
    font-size: 36px;
    color: #000000;
    line-height: 0;
    text-align: 0;
  }

  .form-title {
    text-align: center;
    margin: 80px 0;
  }

  .cart-summary__form {
    width: 720px;
  }

  .cart-summary__form-fields {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: "inputShort none" "inputShort zip-code" "inputLong inputLong";
    grid-template-columns: 65% 1fr;
    column-gap: 30px;
    align-items: center;
  }
  .cart-summary__form-fields .input-short {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: inputShort;
  }
  .cart-summary__form-fields .input-long {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: inputLong;
  }
}
.pay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.pay-imgs-desktop {
  display: none;
}

.pay-imgs-mobile {
  display: flex;
  flex-direction: column;
}
.pay-imgs-mobile img {
  display: block;
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .pay {
    margin: 0 100px;
  }

  .pay-imgs-mobile {
    display: none;
  }

  .pay-imgs-desktop {
    display: block;
    max-width: 1500px;
  }
  .pay-imgs-desktop img {
    display: block;
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
}
.message {
  position: fixed;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.message p {
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  color: #000000;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  width: 400px;
  height: auto;
}

.footer {
  width: 100%;
  height: 366px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}
.footer .footer-link-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  margin-bottom: 2rem;
}
.footer .footer-link-list .footer-link-item {
  line-height: 36px;
  margin: 0 0.5rem;
}
.footer .footer-link-list .footer-link-item > a {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  color: #ffffff;
  line-height: 36px;
  letter-spacing: 0.15em;
}
.footer .footer-link-list .footer-link-item > a:first-child {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer .footer-link-list .footer-link-item > a img {
  margin-right: 1rem;
  margin-bottom: 0;
}

@media screen and (max-width: 600px) {
  .footer {
    height: 100vh;
    background-image: url("/Assets/Imgs/mob-footer-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
  }

  .footer-link-list:first-child {
    flex-direction: column !important;
    margin-bottom: 20px;
  }
  .footer-link-list:first-child .footer-link-item {
    margin-bottom: 1rem;
  }
}
.manifest, .about-us {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  .product-section {
    flex-direction: column !important;
    max-height: 100% !important;
  }
  .product-section .product {
    width: 100% !important;
  }
  .product-section .product-presentation {
    width: 100% !important;
  }
}

/*# sourceMappingURL=index.css.map */
