@media screen and (min-width: 600px) and (max-width: 1200px) {
  .story-panel {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    position: relative;
  }
  .story-panel .story-panel__img {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    position: relative;
  }
  .story-panel .story-panel_wrapper {
    position: absolute;
    width: 300px;
    height: 100%;
    align-self: center;
  }
  .story-panel .story-panel__title {
    width: 100%;
    margin-bottom: 45vh;
    top: 55vh;
    margin-top: 55vh;
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    font-family: Krona One;
    font-style: normal;
    font-weight: normal;
    mix-blend-mode: difference;
  }
  .story-panel .story-panel__title .story-panel__stats-nmbr {
    height: 192px;
    font-size: 192px;
    color: #ffffff;
    -webkit-text-fill-color: black;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
  }
  .story-panel .story-panel__title .story-panel__stats-prcnt {
    height: 96px;
    font-size: 96px;
    color: #ffffff;
    -webkit-text-fill-color: black;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
  }
  .story-panel .story-panel__title .story-panel__stats-star {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 57px;
    color: #ffffff;
  }
  .story-panel .story-panel__stats-desc {
    width: 214px;
    margin-bottom: 28vh;
    top: 85vh;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    position: sticky;
    align-self: center;
    text-align: center;
    color: #ffffff;
    mix-blend-mode: difference;
  }
}
@media screen and (max-width: 600px) {
  .story-panel {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    position: relative;
  }
  .story-panel .story-panel__img {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    position: relative;
  }
  .story-panel .story-panel_wrapper {
    position: absolute;
    width: 300px;
    height: 100%;
    align-self: center;
  }
  .story-panel .story-panel__title {
    width: 100%;
    margin-bottom: 50vh;
    top: 55vh;
    margin-top: 55vh;
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    font-family: Krona One;
    font-style: normal;
    font-weight: normal;
    mix-blend-mode: difference;
  }
  .story-panel .story-panel__title .story-panel__stats-nmbr {
    height: 96px;
    font-size: 96px;
    color: #ffffff;
    -webkit-text-fill-color: black;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
  }
  .story-panel .story-panel__title .story-panel__stats-prcnt {
    height: 48px;
    font-size: 48px;
    color: #ffffff;
    -webkit-text-fill-color: black;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
  }
  .story-panel .story-panel__title .story-panel__stats-star {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 57px;
    color: #ffffff;
  }
  .story-panel .story-panel__stats-desc {
    width: 214px;
    margin-bottom: 28vh;
    top: 85vh;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    position: sticky;
    align-self: center;
    text-align: center;
    color: #ffffff;
    mix-blend-mode: difference;
  }
}
@media screen and (min-width: 1200px) {
  .story-panel {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: "info img" "break break";
    grid-template-columns: 50% 50%;
    grid-template-rows: 100vh 540px;
  }
  .story-panel:nth-child(even) {
    grid-template-areas: "img info" "break break";
  }
  .story-panel:nth-child(even) .story-panel_wrapper {
    margin-right: auto;
  }
  .story-panel .story-panel_wrapper {
    grid-area: info;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }
  .story-panel .story-panel_wrapper .story-panel__title {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    font-family: Krona One;
    font-style: normal;
    font-weight: normal;
    mix-blend-mode: difference;
  }
  .story-panel .story-panel_wrapper .story-panel__title .story-panel__stats-nmbr {
    height: 288px;
    font-size: 288px;
    color: #ffffff;
    -webkit-text-fill-color: black;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
  }
  .story-panel .story-panel_wrapper .story-panel__title .story-panel__stats-prcnt {
    height: 144px;
    font-size: 144px;
    color: #ffffff;
    -webkit-text-fill-color: black;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
  }
  .story-panel .story-panel_wrapper .story-panel__title .story-panel__stats-star {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    line-height: 190px;
    color: #ffffff;
  }
  .story-panel .story-panel_wrapper .story-panel__stats-desc {
    width: 214px;
    margin-top: 60px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    align-self: right;
    color: #ffffff;
    mix-blend-mode: difference;
  }
  .story-panel .story-panel__img {
    grid-area: img;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .story-panel .story-break {
    grid-area: break;
    display: block;
  }

  .story-panel:last-child {
    grid-template-rows: 100vh 0vh;
  }
  .story-panel:last-child .story-break {
    display: none;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .story-panel__stats-nmbr {
    height: 200px !important;
    font-size: 200px !important;
  }

  .story-panel__stats-prcnt {
    height: 100px !important;
    font-size: 100px !important;
  }

  .story-panel__stats-star {
    font-size: 38px !important;
    line-height: 130px !important;
  }
}

/*# sourceMappingURL=PresentationPanel.css.map */
