@import '../../../../scss/helpers/variables';
@import '../../../../scss/helpers/mixins';

@media screen and (min-width: $mobile) and (max-width: $desktop){
    .story-panel{
        width: 100vw;
        height: 100%;
        @include flex(column, null, null);

        background-color: $white;
        position: relative;
    
        .story-panel__img{
            @include img-props(cover, 100vw, 1080px);

            z-index: 0;
            position: relative;
        }
        .story-panel_wrapper{
            position: absolute;
            width: 300px;
            height: 100%;
            align-self: center;
        }
    
        .story-panel__title{
            width: 100%;
            margin: 400px 0 300px 0;
            top: 400px;
            position: sticky;
    
            @include flex(row, center, flex-end);
    
            font-family: Krona One;
            font-style: normal;
            font-weight: normal;
    
            mix-blend-mode: difference;
            
            .story-panel__stats-nmbr{
                height: 192px;
                font-size: 192px;

                @include blend-stroke;
            }
            .story-panel__stats-prcnt{
                height: 96px;
                font-size: 96px;

                @include blend-stroke;
            }
            .story-panel__stats-star{
                @include poppins(48px, $white, 57px, null);
            }
                font-style: normal;
                font-weight: normal;
        }
        .story-panel__stats-desc{
            display: block;
            width: 300px;
            height: 106px;
            margin-bottom: 180px;
            top: 1200px;
    
            @include poppins(18px, $white, 27px, center);

            font-weight: normal;
            position: sticky;
            align-self: center;
    
            mix-blend-mode: difference;
        }
    }
}


@media screen and (max-width: $mobile){
    .story-panel{
        width: 100vw;
        height: 100%;
        @include flex(column, null, null);

        background-color: $white;
        position: relative;

        .story-panel__img{
            @include img-props(cover, 100vw, 700px);
           
            z-index: 0;

            position: relative;
        }
        .story-panel_wrapper{
            position: absolute;
            width: 300px;
            height: 100%;
            align-self: center;
        }

        .story-panel__title{
            width: 100%;
            margin: 200px 0 350px 0;
            
            top: 200px;
            position: sticky;
    
            @include flex(row, flex-end, center);

            font-family: Krona One;
            font-style: normal;
            font-weight: normal;

            mix-blend-mode: difference;
            
            .story-panel__stats-nmbr{
                height: 96px;
                font-size: 96px;
                
                @include blend-stroke;
            }
            .story-panel__stats-prcnt{
                height: 48px;
                font-size: 48px;
                
                @include blend-stroke;
            }
            .story-panel__stats-star{
                @include poppins(24px, $white, 57px, null);

                font-style: normal;
                font-weight: normal;
            }
        }
        .story-panel__stats-desc{
            display: block;
            width: 214px;
            height: 106px;
            margin: 0 auto 200px;
            top: 950px;

            @include poppins(18px, $white, 27px, center);
            
            font-style: normal;
            font-weight: normal;

            position: sticky;

            align-self: center;

            mix-blend-mode: difference;
        }
    }
}

@media screen and (min-width: $desktop){
    
    .story-panel{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-areas: 
            "info img"
            "break break";
        grid-template-columns: 50% 50%;
        grid-template-rows: 1080px 540px;

        &:nth-child(even){
            grid-template-areas: 
            "img info"
            "break break";
            .story-panel_wrapper{
                margin-right: auto;
            }
        }

        .story-panel_wrapper{
            grid-area: info;

            @include flex(column, center, flex-end);

            .story-panel__title{
                @include flex(row, null, flex-end);
    
                font-family: Krona One;
                font-style: normal;
                font-weight: normal;
                
    
                mix-blend-mode: difference;
                .story-panel__stats-nmbr{
                    height: 288px;
                    font-size: 288px;
                    
                    @include blend-stroke;
                }
                .story-panel__stats-prcnt{
                    height: 144px;
                    font-size: 144px;

                    @include blend-stroke;
                }
                .story-panel__stats-star{
                    @include poppins(44px, $white, 190px, null);

                    font-style: normal;
                    font-weight: normal;
                }
            }
            .story-panel__stats-desc{
                width: 214px;
                margin-top: 60px;
    
                @include poppins(18px, $white, 27px, null);

                font-style: normal;
                font-weight: 500;
    
                align-self: right;
    
                mix-blend-mode: difference;
            }
        }
        .story-panel__img{
            grid-area: img;
            @include img-props(cover, 100%, 100%);
        }
        .story-break{
            grid-area: break;
            display: block;
        }
    }
    .story-panel:last-child{
        grid-template-rows: 1080px 0vh;

        .story-break{
            display: none;
        }

    }
}

@media screen and (min-width: $desktop) and (max-width: 1400px){
    .story-panel__stats-nmbr{
        height: 200px !important;
        font-size: 200px !important;
    }
    .story-panel__stats-prcnt{
        height: 100px !important;
        font-size: 100px !important;
    }
    .story-panel__stats-star{
        font-size: 38px !important;
        line-height: 130px !important;
    }
}

@media screen and (max-width: $desktop) and (orientation: landscape){
    .story-panel{
        .story-panel__title{
            margin-top: 200px;
            top: 200px;
        }
    }
}