// COLORS
$white: #ffffff;
$white-ish: #FCFBF6;
// $grey: #4C4653;
$light-gray: #ACB0B9;
$black: #000000;
$black-ish: #0E0E0F;
// $dark-blue: #005389;
// $blue: #4872c0;
// $pink: #d5a2bc;
// $purple: #8c83c4;
// $rotten-green: #b3b7ab;

// BREAKPOINTS

$mobile: 600px;
$midBreak: 800px;
$desktop: 1200px;